body {margin: 0;}
#app{margin-top: 0!important;}
.map_wrap{position: relative;}
#vue-naver-maps{height: calc(100vh - 64px)!important;}

/* 색상표 */
/* :root {
	--button-blue1:(#81ACFF);
	--button_blue2:(#CCE3FF);
	--b_fs_color:(#81ACFF);
	--w_fs_color:(#ffffff);
} */

/* Utility start */
/* flex 속성 정렬 */
.d_flex {display: flex;}
.flex_column {flex-direction: column;}
.justify_center {justify-content: center;}
.justify_start {justify-content: flex-start;}
.justify_between {justify-content: space-between;}
.justify_end {justify-content: flex-end;}
.align_center {align-items: center;}
.align_start {align-items: flex-start;}
.align_end {align-items: flex-end;}
.flex1 {flex: 1;}
.flex_grow {flex-grow:1;}

/* margin */
.mx_0a {margin: 0 auto;}
/* bottom */
.mb_4 {margin-bottom: 4px;}
.mb_8 {margin-bottom: 8px;}
.mb_16 {margin-bottom: 16px;}
.mb_24 {margin-bottom: 24px;}
.mb_32 {margin-bottom: 32px;}
.mb_40 {margin-bottom: 40px;}
/* top */
.mt_4 {margin-top: 4px;}
.mt_8 {margin-top: 8px;}
.mt_16 {margin-top: 16px;}
.mt_32 {margin-top: 32px;}
/* right */
.mr_4 {margin-right: 4px;}
.mr_8 {margin-right: 8px;}
.mr_16 {margin-right: 16px;}
/* left */
.ml_4 {margin-left: 4px;}
.ml_8 {margin-left: 8px;}

/* padding */
.px_1 {padding: 0 16px;}
.py_1 {padding: 16px 0;}
/* bottom */
.pb_4 {padding-bottom: 4px;}
.pb_8 {padding-bottom: 8px;}
.pb_16 {padding-bottom: 16px;}
.pb_32 {padding-bottom: 32px;}
/* top */
.pa_0 {padding: 0;}
.pa_1 {padding: 16px;}
.pt_4 {padding-top: 4px;}
.pt_8 {padding-top: 8px;}
.pt_16 {padding-top: 16px;}
.pt_32 {padding-top: 32px;}
/* right */
.pr_4 {padding-right: 4px;}
.pr_8 {padding-right: 8px;}
/* left */
.pl_4 {padding-left: 4px;}
.pl_8 {padding-left: 8px;}

/* text */
.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}
.link_text {
	font-size: 14px;
	text-decoration: underline;
	line-height: 1.5;
	color: #81ACFF;
}
/* font */
.color_b {color: #81ACFF;}
.color_w {color: #ffffff;}

.fw_400 {font-weight: 400;}
.fw_600 {font-weight: 600;}
.fw_700 {font-weight: 700;}

.fs_12 {font-size: 12px; line-height: 1.5;}
.fs_14 {font-size: 14px; line-height: 1.5;}
.fs_16 {font-size: 16px; line-height: 1.5;}
.fs_20 {font-size: 20px !important; line-height: 1.5;}
.fs_24 {font-size: 24px; line-height: 1.5;}
.fs_28 {font-size: 28px; line-height: 1.5;}
.fs_32 {font-size: 32px; line-height: 1.5;}

/* image */
.BACKARR {
	background-image: url('../images/BACKARR.png');
	background-position: center;
	background-size: cover;
}
.USER_ICON {
	background-image: url('../images/USER_ICON.png');
	background-position: center;
	background-size: cover;
}
.MAIL_GRAY {
	background-position: 5% 50% ;
	background-image: url('~@/assets/images/MAIL_GRAY.png');
	background-size: cover;
}
.mail {
	background-position: 5% 50% ;
	background-image: url('~@/assets/images/LOGIN_MAIL.png');
	background-size: cover;
}
.password {
	background-position: 5% 50% ;
	background-image: url('~@/assets/images/PASSWORD.png');
	background-size: cover;
}
.USER_ICON {
	background-position: 5% 50% ;
	background-image: url('~@/assets/images/USER_ICON.png');
	background-size: cover;
}
.MORE {
	background-position: 5% 50% ;
	background-image: url('~@/assets/images/MORE.png');
	background-size: cover;
}
.TUNE{
  background-image: url('~@/assets/images/Tune.png');
  background-size: cover;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.MYPLACE {
  background: url('~@/assets/images/Myplace.png') no-repeat;
  background-size: cover;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.RECOMMEND {
	background-image: url('~@/assets/images/Recommend.png');
	background-position: 5% 50% ;
	background-size: cover;
}
.STAR {
	background-image: url('~@/assets/images/STAR.png');
	background-position: 5% 50% ;
	background-size: cover;
}
.LIKE_BLUE {
	background-image: url('~@/assets/images/LIKE_BLUE.png');
	background-position: 5% 50% ;
	background-size: 24px 24px;
}
.LIKE_GRAY {
	background-image: url('~@/assets/images/LIKE_GRAY.png');
	background-position: 5% 50% ;
	background-size: 24px 24px;
}

/* button */
button {
  border-radius: 20px;
  border: none;
  padding: 10px 24px;
}
.button_w100 {
	width: 100%;
	height: 56px;
	border-radius: 28px;
	border: none;
}
button.blue {
	background: #81ACFF!important;
	color: #ffffff;
}
button.skyblue {
	background: #CCE3FF;
	color: #81ACFF;
}

/* input */
input {
  padding: 16px;
  border: 0;
  color: #333;
  font-size: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(138,178,255,1);
}
input::placeholder {color: #ACB4BC; -webkit-text-fill-color:#ACB4BC;}
input[type=text], input[type=password], input[type=email], input[type=file] {width: 100%;}

/* tab area */
.tab_area {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  box-shadow: 0px -4px 16px rgb(0 0 0 / 10%);
}
.tab_area > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 64px;
  background-color: #fff;
}

.Vue-Toastification__toast.custom-toast-class {
	border-radius: 7px;
}
