.BACKARR,
.MORE {
	display: block;
	width: 24px;
	height: 24px;
}
.LOGIN_IMG {
	background-image: url('~@/assets/images/LOGIN_IMG.png');
	background-position: center;
	background-size: cover;
	display: block;
	width: 140px;
	height: 176px;
}
.login .title {
	font-size: 32px;
	font-weight: 700;
	text-align: left;
	color: #81acff;
	margin-bottom: 16px;
}
.login .input_box > input {
	height: 56px;
	margin-bottom: 16px;
	border: 2px solid rgba(204,227,255,1);
	background-repeat: no-repeat;
	background-size: 24px;
	padding-left: 48px;
}
.checkbox{
  display: flex;
  align-items: center;
}
.checkbox input {
	display: none;
}

.checkbox_icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 2px solid  #8AB2FF;
	border-radius: 2px;
	position: relative;
	cursor: pointer;
}

.checkbox_icon::before,
.checkbox_icon::after {
	content: '';
	display: inline-block;
	width: 2px;
	height: 0;
	background-color: #fff;
	position: absolute;
	transform-origin: left top;
}

.checkbox_icon::before {
	top: 8px;
	left: 1px;
	transform: rotate(-45deg);
}
.checkbox_icon::after {
	top: 13px;
	left: 6px;
	transform: rotate(-135deg);
}

.checkbox input:checked + .checkbox_icon {
	background:  #8AB2FF;
}
.checkbox input:checked + .checkbox_icon::before {
	height: 6px;
	transition: all 0.15s ease;
}

.checkbox input:checked + .checkbox_icon::after {
	height: 11px;
	transition: all 0.15s ease 0.15s;
}
.all_checked:after,
.single_checked:after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #8AB2FF;
	margin-bottom: 16px;
}
.single_checked > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.single_checked .essential{
  color: #538DFD;
}