.sub-title {
    font-weight: 700;
    font-size: 15px;
}

.underline-text {
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
	color: rgb(98, 98, 98);
}

.keyword-tag {
    border-radius: 15px;
    color: rgb(65, 65, 65);
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    height: 30px;
}

.search-bottom {
    /* background-color: rgb(242, 242, 242); */
    padding: 0 0px 20px 0px;
    margin: 0 16px 0 16px;
    border-radius: 5px;
}
.place-name {
    font-weight: 550;
    font-size: 16px;
    margin-bottom: 5px;
}
.road-addr {
    font-weight: 550;
    font-size: 15px;
    margin-bottom: 5px;
}
.jibun-addr {
    font-size: 14px;
    color: rgb(65, 65, 65);
}
.scrollable {
    height: 70vh;
    overflow: auto;
}